/* ---------------------------------------------------------------
----- Declaracion de variables  a utilizar durante el proyecto ---
-------------------------------------------------------------- */
:root {
    /* Variables de colores */
    --light-blue: #009DE0;
    --dark-blue: #0056B3;
    --dark-gray: #454D5D;
    --light-gray: #EDF4FA;
    --white: #FFFFFF;

    /* Variables de fuentes */
    --font-family: 'Poppins', sans-serif;
}

/* Se resete el margin y padding que hay por defecto */
* {
    margin: 0;
    padding: 0;
}

/* Se resetea el tamaño de la fuente para tener control al usar rem */
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
}

/* ---------------------------------------------------------------
            ----- Clases que se pueden reutilizar ---
-------------------------------------------------------------- */

/********************** Button *********************/
.btn {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    color: var(--white);
    padding: 8px 20px;
    font-size: 16px;
    transition: 1s all ease-in-out;
}

.btn:hover {
    background-color: var(--light-blue);
    color: var(--white);
    transition: 0.4s all ease-in-out;
}

.btn-secondary {
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    transition: 1s all ease-in-out;
}

.btn-secondary:hover {
    background-color: var(--dark-gray);
    color: var(--white);
    transition: 0.4s all ease-in-out;
}

/***************** Seccion Title En Cada Página ***************/
.page__title {
    position: relative;
}

.page__title--image {
    width: 100%;
}

.page__title--text {
    position: absolute;
    color: var(--dark-blue);
}

.page__title--text h1 {
    font-weight: bold;
}

.page__title--text span {
    color: var(--light-blue);
}

/* Esta clase modifica flexdirecion para que se adapte al tamaño de la pantalla */
.responsive-container {
    display: flex;
}
.responsive-grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.responsive-grid img {
    width: 100%;
}

/********************** Header *********************/
.header {
    font-size: 1.6rem;
}

.header__contact {
    color: var(--dark-blue);
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.header__contact p {
    margin: 0;
}

.header__contact--data {
    display: none;
}

.header__contact--data span {
    color: var(--light-blue);
}

.header__navbar {
    color: var(--white);
    background-color: var(--light-blue);
    flex-direction: column;
    font-size: 1.6rem;
}

.header__navbar .navbar{
    position: relative;
}

.header__navbar a {
    color: var(--white);
}

.navbar__logo img {
    height: 40px;
}

.header .navbar__button {
    display: none;
}

.navbar__button button a {
    color: var(--white);
}

.navbar__button button a:hover {
    text-decoration: none;
}

.header__navbar .navbar-toggler {
    position: absolute;
    border-color: var(--white);
    right: 24px;
    top: 12px;
}

.dropdown-menu {
    background-color: var(--dark-blue);
    font-size: 1.4rem;
}

/* Sobreescribimos el diseños de los elementos de la navbar que da bootstrap */
.nav-item.active {
    border-bottom: 2px solid var(--dark-blue);
    border-radius: 6px;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

/********************** Footer *********************/
.footer {
    align-items: center;
    background-image: url("../assets/bg.jpg");
    color: var(--white);
    justify-content: center;
    padding: 32px;
}

.footer__col1 img {
    margin-bottom: 48px;
}

.footer__col3 {
    text-align: center;
}

.footer__col3 button {
    margin-top: 32px;
}

.footer div {
    margin: 32px;
    font-size: 1.2rem;
}

.brand__laber {
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: 1.6rem;
    text-align: center;
    padding: 8px;
}

/* --------------------
----- Pagina Home  ---
-----------------------*/
.main__hero {
    position: relative;
}

.main__hero img {
    width: 100%;
    height: 100%;
}

.hero__content > * {
    margin-bottom: 24px;
}

.hero__content h4 {
    color: var(--light-blue);
}

.hero__title {
    color: var(--dark-blue);
    font-weight: bold;
}

/********************** telephone *********************/
.main__telephone {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main__telephone h1 span {
    color: var(--light-blue);
}

.main__telephone--content {
    background-color: var(--dark-blue);
    border-radius: 16px;
    padding: 12px;
    margin: 12px 0;
}

/********************** Conditions *********************/
.main__conditions {
    background-color: var(--light-gray);
    text-align: center;
}

.conditions__header p {
    color: var(--dark-gray);
    margin: 24px 0;
}

.image__card {
    background-color: var(--white);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.image__card--container {
    background-color: var(--light-gray);
    border-radius: 50%;
    object-fit: scale-down;
    padding: 16px;
}

.image__card--container img {
    height: 8rem;
    width: 8rem;
}

.image__card p {
    font-weight: bold;
    margin-top: 32px;
}

.card--selected {
    border: 2px dashed var(--light-blue);
}

.card--selected .image__card--container {
    background-color: var(--light-blue);
}

.card--selected .image__card--container img {
    color: var(--white);
        filter: brightness(0) contrast(100%) invert(100%);
}

/********************** Instalaciones *********************/
.main__instalaciones {
    background-color: var(--white);
}

.instalaciones__content {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 24px 10%;
    justify-content: space-around;
    align-items: center;
}

.instalaciones__content--video img:hover {
    cursor: pointer;
}

/********************** Tratamientos *********************/

.main__tratamientos {
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}

.tratamientos__image--home {
    width: 45%;
    height: 100%;
}

.tratamientos__text {
    text-align: center;
    padding: 24px;
}

.tratamientos__text--item {
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    margin: 5% 10%;
    padding: 12px;
    text-align: left;
}

/********************** Valoración *********************/
.main__valoracion {
    background-color: var(--light-blue);
    justify-content: center;
    align-items: center;
}

.main__valoracion p {
    color: var(--white);
}

.valoracion__telephones {
    background-color: var(--white);
    border-radius: 12px;
    padding: 40px;
}

.valoracion__telephones h1 {
    margin-bottom: 32px;
}

.valoracion__telephones--number {
    display: flex;
    align-items: center;
}

.valoracion__telephones--number span {
    border-radius: 50%;
    margin: 4px;
    padding: 8px;
}

.valoracion__telephones--number.phone h3 {
    color: var(--light-blue);
}

.valoracion__telephones--number.phone span {
    background-color: var(--light-blue);
}

.valoracion__telephones--number.whatsapp h3 {
    color: rgb(0, 214, 18);
}

.valoracion__telephones--number.whatsapp span {
    background-color: rgb(0, 214, 18);
}

.valoracion__telephones--number svg {
    color: var(--white);
    height: 16px;
}

.valoracion__telephones--email {
    color: var(--dark-blue);
    font-size: 1.4rem;
    margin-top: 32px;
}

.valoracion__text {
    color: var(--white);
    margin: 24px;
}

.valoracion__text--icons {
    margin: 24px;
}

.valoracion__text--icons svg {
    width: 80%;
}

.valoracion__text .btn {
    align-self: end;
    margin: 16px 24px;
}


/********************** Testimonios *********************/
.testimonios__header {
    text-align: center;
}

.testimonios__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px,1fr));
    margin-top: 60px;
}

.testimonios__item {
    background-color: var(--white);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 48px 32px 24px 32px;
    position: relative;
}

.testimonios__item--img {
    position: absolute;
    top: -44px;
    left: 24px;
}

.testimonios__item--button {
    position: absolute;
    top: -20px;
    right: 24px;
}

.testimonios__item--button:hover{
    cursor: pointer;
}

.testimonios__item--title {
    color: var(--dark-blue);
    font-weight: bold;
}

.testimonios__item--subtitle {
    color: var(--light-blue);
    margin-bottom: 24px;
}

/********************** Productos *********************/

.main__productos {
    background-color: var(--light-gray);
    text-align: center;
}

.productos__container {
    align-items: center;
    display: grid;
    justify-content: center;
    margin: 40px 0;
    grid-template-columns: repeat(auto-fill, minmax(120px,250px));
}

.productos__item {
    padding: 12px;
}

/********************** Contacto *********************/
.contacto__header {
    margin: 32px 0;
    text-align: center;
}

.contacto__data {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 32px;
    text-align: center;
    width: 50%;
}

.contacto__data > * {
    margin: 28px 0;
}

.contacto__data {
    width: 50%;
}

.contacto__data--social img {
    height: 48px;
    margin: 8px;
    transition: transform 1s ease-in-out;
}

.contacto__data--social img:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: transform 0.4s ease-in-out;
}

.contacto__form {
    border: 1px solid var(--dark-blue);
    text-align: right;
}

.contacto__form--input {
    display: block;
    background-color: var(--light-gray);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    width: calc(100% - 32px);
    margin: 32px 16px;
    padding: 8px 12px;
    transition: all 0.8s ease-in-out;

}

.contacto__form--input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.4s ease-in-out;
}

.contacto__form--submit {
    margin: 24px;
    width: 30%;
}
/********************** Sección Clínicas *********************/
.clinicas__header {
    text-align: center;
}

.clinicas__item--container {
    justify-items: center;
    align-items: center;
    padding: 32px;
}

.clinicas__item--direction {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.clinicas__item--direction h1 {
    font-weight: bold;
}

.clinicas__item--direction button {
    margin: 24px auto;
}

.clinicas__item--map {
    text-align: center;

}

.clinicas__item--map img{
    width: 90%;
}

.clinicas__item--carousel img {
    width: 100%;
}

.clinicas__footer {
    background-image: url("../assets/bg.jpg");
    background-position: right;
    color: var(--white);
    margin: 24px auto;
    text-align: center;
    padding: 32px;
    width: 50%;
}

.clinicas__footer--title {
    width: 100%;
    font-weight: bold;
}

.clinicas__footer--title span {
    color: var(--light-blue);
}

.clinicas__footer--description p {
    margin-bottom: 24px;
}

.clinicas__footer--icons img {
    height: 48px;
    margin: 8px;
    transition: transform 0.5s ease-in-out;
}

.clinicas__footer--icons img:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: transform 0.2s ease-in-out;
}

/********************** Blog *********************/
.main__blog {
    text-align: center;
    margin: 32px auto;
}

.blog__container {
    padding: 32px 10%;
    display: grid;
    grid-gap: 24px;
    justify-content: center;
}

.blog__item {
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    text-align: left;
    margin: 16px;
}

.blog__item--content {
    padding: 24px;
}

.blog__item--content h1 {
    font-size: 2rem;
    color: var(--dark-blue);
    margin: 16px 0;
}

.blog__item--content h2 {
    color: var(--light-blue);
    margin: 16px 0;
}

/* ----------------------
----- Pagina Nosotros ---
---------------------- */
/***************** Seccion presentacion ***************/
.acerca__presentacion {
    align-items: center;
    justify-content: center;
}

.acerca__text {
    padding: 32px;
}

.acerca__text h1 {
    text-align: center;
}

.acerca__text > * {
    margin-bottom: 16px;
}

.acerca__text span {
    color: var(--light-blue);
}


/***************** Seccion presentacion ***************/
.mision__icons--item {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 0 32px;
}

.mision__icons--item h1 {
    text-align: left;
    font-size: 2rem;
}

.mision__icons--item p {
    font-size: 1.2rem;
}

.mision__icons--item img {
    width: 32px;
    margin-right: 12px;
}

/***************** Seccion Razones ***************/
.razon__header {
    text-align: center;
    margin: 32px 0;
}

.razon__content--col {
    padding: 0 32px;
    justify-content: right;
    align-self: start;
}

.razon__content--col span {
    color: var(--light-blue);
}

/***************** Seccion Testimonios ***************/
.main__acerca .main__testimonios {
    background-color: var(--light-gray);
}

/***************** Seccion Leyenda ***************/
.acerca__leyenda {
    background-color: var(--light-gray);
}
.leyenda__carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    justify-content: center;
    gap: 16px;
}

.leyenda__carousel img{
    width: 100%;
    height: 100%;
}

.leyenda__texto {
    justify-content: space-around;
    align-items: center;
    padding: 32px ;
}

/* -------------------------------
----- Paginas de padecimientos ---
------------------------------- */

.tratamiento {
    display: grid;
    gap: 32px;
}

.tratamiento__content > * {
    margin-bottom: 24px;
}

.tratamiento__content h2 {
    font-size: 1.8rem;
    line-height: 2;
}

.tratamiento__content span {
    color: var(--light-blue);
}

.aside--list {
    display: flex;
    flex-direction: column;
}

.aside--item {
    background-color: var(--light-gray);
    color: var(--dark-blue);
    margin-top: 12px;
    padding: 16px;
    transition: all 0.6s ease-in-out;
}

.aside--item:hover {
    text-decoration: none;
    background-color: var(--light-blue);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.aside--item.selected {
    background-color: var(--light-blue);
    color: var(--white);
}

.proceso__content--item {
    position: relative;
}

.proceso__content--item img {
    background-color: var(--dark-blue);
    border-radius: 50%;
    padding: 8px;
    height: 64px;
    margin-bottom: 12px;
}

.proceso__content--line {
    height: 12px;
    background-color: var(--dark-blue);
    position: absolute;
    top: 28px;
    left: 48px;
    z-index: -1;
    width: 100%;
}

.padecimiento__exitos {
    background-color: var(--light-gray);
}

.exitos__carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    text-align: center;
    margin: 32px;
    align-items: center;
    justify-content: center;
}

.exitos__carousel img {
    border-radius: 24px;
    height: 250px;
}

.exitos__carousel h3 {
    color: var(--dark-blue);
    padding: 12px;
}

/* -------------------------------
----- Paginas de Servicios ---
------------------------------- */
.servicios__texto {
    background-color: var(--light-gray);
}

.servicios__texto--header {
    text-align: center;
}

.servicios__texto--content {
    display: grid;
    text-align: center;
}

.servicios__texto--item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--white);
}

.servicios__texto--item:nth-child(2) {
    border: 1px dashed var(--light-blue);
}

.servicios__texto--item img {
    background-color: var(--light-gray);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 12px;
    margin: 0 auto;
    object-fit: scale-down;
}

.servicios__texto--item h2 {
    color: var(--dark-blue);
    margin-top: 24px;
}

/* -------------------------------
----- Pagina de tratamientos ---
------------------------------- */
.tratamientos {
    display: grid;
    gap: 32px;
}

.tratamientos__content > * {
    margin-bottom: 24px;
}

.tratamientos__image {
    height: 200px;
    background-color: var(--light-gray);
    width: 100%;
    margin: 12px;
}

.tratamientos__carousel {
    display: grid;
    gap: 24px;
}

/* -------------------------------
----- Pagina de productos ---
------------------------------- */

.productos__header {
    text-align: center;
}

.productos__banner {
    position: relative;
    background-image: url("../assets/bg.jpg");
    margin: 32px 0;
}

.productos__banner--text {
    color: var(--white);
    padding: 32px;
}

.productos__baner--col h1 {
    font-size: 2.8rem;
}

.productos__baner--col p {
    font-size: 1.6rem;
}

.productos__baner--col span {
    color: var(--light-blue);
}

.productos__baner--col svg {
    height: 2rem;
}

.productos__catalog {
    text-align: center;
}

.productos__catalog h1 span {
    color: var(--light-blue);
}
.catalog__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 32px;
    margin: 32px 0;
}

.catalog__content--item img {
    width: 100%;
}

/* -------------------------------
----- Pagina de contacto ---
------------------------------- */

.contacto__info {
    padding: 32px 0;
    justify-content: center;
    align-items: center;
}
.contacto__info--item {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 12px;
}

.contacto__info--item img {
    background-color: var(--light-gray);
    height: 60px;
    width: auto;
    padding: 16px;
    margin: 12px;
}

/* -------------------------------
----- Pagina Blog ---
------------------------------- */
.main__blog {
    text-align: left;
}

.blog__posts {
    gap: 32px;
}

.blog__post {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.blog__post--text {
    padding: 24px;
}

.blog__post--text h1{
    color: var(--dark-blue);
    font-size: 2rem;
    margin: 24px 0;
}

.blog__post--text a {
    font-size: 1.4rem;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    list-style: none;
}

.pagination__item a {
    background-color: var(--light-gray);
    border-radius: 8px;
    color: var(--dark-blue);
    font-size: 1.6rem;
    margin: 0 8px;
    padding: 12px;
    transition: all 0.6s ease-in-out;

}

.pagination__item a:hover {
    background-color: var(--light-blue);
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.pagination__item.selected a {
    background-color: var(--light-blue);
    color: var(--white);
}

.main__blog .main__telephone {
    margin-top: 80px;
}

/********************** Media Queries *********************/
@media (min-width: 320px) {
    .page__title--text {
        top: 0;
        left: 0;
        background-color: rgba(237, 244, 250,0.6);
        width: 100%;
        height: 100%;
        padding: 8px;
    }
    .page__title--text h1 {
        margin-bottom: 0;
    }

    .page__title--image {
        height: 150px;
    }

    .text__title {
        font-size: 2rem;
        color: var(--dark-blue);
    }
    .text__content {
        font-size: 1.2rem;
        color: var(--dark-gray);
    }

    .padding {
        padding: 32px;
    }

    .responsive-container {
        flex-direction: column;
    }
    .responsive-grid {
        align-items: center;
    }

    .hero__content {
        background-color: rgba(237, 244, 250,0.5);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 12px;
        text-align: center;
    }
    .hero__title {
        font-size: 2.5rem;
    }
    .hero__content h4 {
        display: none;
    }
    .hero__content button {
        display: none;
    }

    .main__telephone--content .text__content{
        color: var(--white);
    }
    .main__telephone--text {
        width: 100%;
        text-align: center;
    }

    .conditions__container {
        display: grid;
        grid-template-columns: repeat(2, minmax(120px,1fr));
    }
    .conditions__header {
        width: 100%;
    }
    .conditions__header h1 {
        color: var(--dark-blue);
    }

    /* Pagina Home */
    .instalaciones__content--text {
        width: 100%;
    }
    .instalaciones__content--video img{
        width: 100%;
    }

    .main__tratamientos {
        flex-direction: column-reverse;
    }

    .valoracion__telephones {
        text-align: center;
        background-color: var(--white);
        border-radius: 12px;
        padding: 10px;
        margin: 0;
    }
    .valoracion__text {
        text-align: center;
    }

    .testimonios__container {
        gap: 64px;
        grid-template-columns: minmax(200px,1fr);
        margin-top: 60px;
    }

    .productos__item img {
        width: 80%;
    }

    .contacto__data {
        width: 100%;
    }

    .clinicas__item--direction {
        width: 100%;
    }
    .clinicas__item--map {
        width: 100%;
    }
    .clinicas__item--carousel {
        display: none;
    }
    .sucursal-norte .clinicas__item--container {
        background-color: var(--light-gray);
        text-align: center;
        flex-direction: column-reverse;
    }
    .clinicas__footer {
        width: 100%;
    }

    .blog__container {
        grid-template-columns: repeat(auto-fill, minmax(200px,250px));
    }

    /* Paginas de padecimientos */
    .tratamiento {
        grid-template-columns: 1fr;
    }
    .proceso__content {
        display: grid;
        gap: 32px;
        grid-template-columns: 1fr;
        padding: 24px;
    }
    .proceso__content--line {
        display: none;
    }

    /* Pagina servicios */
    .servicios__texto--content {
        grid-template-columns: 1fr;
    }

    /* Pagina de tratamientos */
    .tratamientos {
        grid-template-columns: 1fr;
    }
    .tratamientos__carousel {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 500px) {
    .hero__content h4 {
        display: block;
    }
    .hero__content button {
        display: inline;
    }
}

@media (min-width: 768px) {
    .page__title--text {
        padding-top: 50px;
        padding-left: 50px;
        width: 100%;
        height: 100%;
    }
    .page__title--text h1 {
        margin-bottom: 24px;
    }
    .page__title--image {
        height: auto;
    }

    .text__title {
        font-size: 2.5rem;
    }
    .text__content {
        font-size: 1.4rem;
    }

    .padding {
        padding: 48px 100px;
    }

    .responsive-container { 
        flex-direction: row;
    }
    .responsive-grid {
        grid-template-columns: 1fr 1fr;
    }

    /* Pagina Home */
    .hero__title {
        font-size: 5rem;
    }
    .hero__content {
        background-color: rgba(237, 244, 250,0.0);
        top: 10%;
        left: 10%;
        height: 80%;
        width: 80%;
        text-align: left;
    }

    .main__telephone--text {
        width: 60%;
        text-align: left;
    }

    .conditions__container {
        grid-template-columns: repeat(3, minmax(120px,1fr));
    }
    .conditions__header {
        width: 60%;
        margin: auto;
    }
    .conditions__header h1 {
        color: var(--dark-blue);
    }

    .instalaciones__content--text {
        width: 30%;
        margin-right: 32px;
    }

    .valoracion__telephones {
        text-align: left;
        padding: 24px;
        width: 45%;
    }
    .valoracion__text {
        text-align: left;
        padding: 24px;
        width: 40%;
    }

    .testimonios__container {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(3, minmax(200px,1fr));
        margin-top: 60px;
    }

    .contacto__data {
        width: 50%;
    }
    .contacto__form {
        width: 50%;
    }
    .sucursal-norte .clinicas__item--container {
        text-align: right;
        flex-direction: row;
    }
    .clinicas__item--direction {
        width: 50%;
    }
    .clinicas__item--map {
        width: 50%;
    }
    .clinicas__item--carousel {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px,1fr));
        gap: 24px;
        padding: 24px 64px;
        justify-content: center;
    }
    .clinicas__footer {
        width: 60%;
    }

    .blog__container {
        grid-template-columns: repeat(auto-fill, minmax(300px,500px));
    }
    .blog__item {
        height: 250px;
        width: 500px;
    }

    /* Paginas de padecimientos */
    .tratamiento {
        grid-template-columns: 2fr 1fr;
    }

    .proceso__content {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 32px;
    }
    .proceso__content--line {
        display: block;
    }

    /* Pagina servicios */
    .servicios__texto--content {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Pagina de tratamientos */
    .tratamientos {
        grid-template-columns: 2fr 1fr;
    }
    .tratamientos__carousel {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Media query para controlar los elementos que deben aparecer cuando cambia la navbar */
@media (min-width: 992px) {
    .header__contact--data {
        display: block;
    }

    .header__navbar {
        flex-direction: row;
    }

    .conditions__container {
        grid-template-columns: repeat(3, minmax(50px,1fr));
    }
}

/* Media query para controlar la aparicion del boton "Haz una cita" */
@media (min-width: 1164px) {
    .header .navbar__button {
        display: flex;
        align-items: center;
        background-color: var(--dark-blue);
        width: 30%;
    }
    .triangle {
        display: block;
        width: 0;
        height: 0;
        background-color: var(--dark-blue);
        border-left: 32px solid var(--light-blue);
        border-top: 37.5px solid transparent;
        border-bottom: 37.5px solid transparent; 
    }
    .navbar__button button {
        display: block;
        align-items: center;
        background-color: var(--light-blue);
        border-radius: 24px;
        font-size: 1.6rem;
        padding: 12px 20px;
        margin-left: 12px;
        display: flex;
        transition: background-color ease-in-out 0.8s;
    }
    .navbar__button button:hover {
        background-color: var(--dark-gray);
        transition: background-color ease-in-out 0.4s;
    }
    .navbar__button button a {
        color: var(--white);
    }

}