
.productos__header {
    text-align: center;
}

.productos__banner {
    position: relative;
    background-image: url("../assets/bg.jpg");
    margin: 32px 0;
}

.productos__banner--text {
    color: var(--white);
    padding: 32px;
}

.productos__baner--col h1 {
    font-size: 2.8rem;
}

.productos__baner--col p {
    font-size: 1.6rem;
}

.productos__baner--col span {
    color: var(--light-blue);
}

.productos__baner--col svg {
    height: 2rem;
}

.productos__catalog {
    text-align: center;
}

.productos__catalog h1 span {
    color: var(--light-blue);
}
.catalog__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 32px;
    margin: 32px 0;
}

.catalog__content--item img {
    width: 100%;
}
