:root {
    /* Variables de colores */
    --light-blue: #009DE0;
    --dark-blue: #0056B3;
    --dark-gray: #454D5D;
    --light-gray: #EDF4FA;
    --white: #FFFFFF;

    /* Variables de tamaño */
    --md: 1.6rem;

    /* Variables de fuentes */
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
}

/* Clases que se pueden reutilizar */
/********************** Button *********************/
.btn {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 24px;
    color: var(--white);
    padding: 8px 20px;
    font-size: 16px;
    transition: 1s all ease-in-out;
}

.btn:hover {
    background-color: var(--light-blue);
    color: var(--white);
    transition: 0.4s all ease-in-out;
}

/* Esta clase modifica flexdirecion para que se adapte al tamaño de la pantalla */
.responsive-container {
    display: flex;
}

/* Secciones en el body */
/********************** Header *********************/
.header {
    font-size: var(--md);
}

.header__contact {
    color: var(--dark-blue);
    font-family: var(--font-family);

}

.header__contact--data {
    display: none;
}

.header__contact--data span:nth-child(2){
    color: var(--light-blue);
}

.header__navbar {
    color: var(--white);
    background-color: var(--light-blue);
    flex-direction: column;
    font-size: 1.6rem;
}

.header__navbar .navbar{
    position: relative;
}

.header__navbar a {
    color: var(--white);
}

.navbar__logo svg {
    height: 40px;
}

.header .navbar__button {
    display: none;
}

.navbar__button button a {
    color: var(--white);
}

.navbar__button button a:hover {
    text-decoration: none;
}

.header__navbar .navbar-toggler {
    position: absolute;
    border-color: var(--white);
    right: 24px;
    top: 12px;
}

/* Sobreescribimos el diseños de los elementos de la navbar que da bootstrap */
.nav-item.active {
    border-bottom: 2px solid var(--dark-blue);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.footer {
    align-items: center;
    background-image: url("../assets/bg.jpg");
    color: var(--white);
    justify-content: center;
    padding: 32px;
}

.footer__col1 img {
    margin-bottom: 48px;
}

.footer__col3 {
    text-align: center;
}

.footer__col3 button {
    margin-top: 32px;
}

.footer div {
    margin: 32px;
    font-size: 1.2rem;
}

.brand__laber {
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: 1.6rem;
    text-align: center;
    padding: 8px;
}

@media (min-width: 320px) {
    .text__title {
        font-size: 2rem;
        color: var(--dark-blue);
    }

    .text__content {
        font-size: 1.2rem;
        color: var(--dark-gray);
    }

    .responsive-container {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .text__title {
        font-size: 2.5rem;
    }
    .text__content {
        font-size: 1.4rem;
    }
    .responsive-container { 
        flex-direction: row;
    }
}

/* Media query para controlar los elementos que deben aparecer cuando cambia la navbar */
@media (min-width: 992px) {
    .header__contact--data {
        display: block;
    }

    .header__navbar {
        flex-direction: row;
    }
    .main__telephone {
        margin: 0 10%;
    }

    .conditions__container {
        grid-template-columns: repeat(3, minmax(50px,1fr));
    }
}


/* Media query para controlar la aparicion del boton "Haz una cita" */
@media (min-width: 1164px) {
    .header .navbar__button {
        display: flex;
        align-items: center;
        background-color: var(--dark-blue);
        width: 30%;
    }
    .triangle {
        display: block;
        width: 0;
        height: 0;
        background-color: var(--dark-blue);
        border-left: 32px solid var(--light-blue);
        border-top: 37.5px solid transparent;
        border-bottom: 37.5px solid transparent; 
    }
    .navbar__button button {
        display: block;
        align-items: center;
        background-color: var(--light-blue);
        border-radius: 24px;
        font-size: 1.6rem;
        padding: 12px 20px;
        margin-left: 12px;
        display: flex;
        transition: background-color ease-in-out 0.8s;
    }
    .navbar__button button:hover {
        background-color: var(--dark-gray);
        transition: background-color ease-in-out 0.4s;
    }
    .navbar__button button a {
        color: var(--white);
    }

}