.servicios__texto {
    background-color: var(--light-gray);
}

.servicios__texto--header {
    text-align: center;
}

.servicios__texto--content {
    display: grid;
    text-align: center;
}

.servicios__texto--item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--white);
}

.servicios__texto--item:nth-child(2) {
    border: 1px dashed var(--light-blue);
}

.servicios__texto--item img {
    background-color: var(--light-gray);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 12px;
    margin: 0 auto;
    object-fit: scale-down;
}

.servicios__texto--item h2 {
    color: var(--dark-blue);
    margin-top: 24px;
}

@media (min-width: 320px) {
    .servicios__texto--content {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .servicios__texto--content {
        grid-template-columns: repeat(3, 1fr);
    }
}